# Python skills checkpoint

## what is this file? 
You have been learning about programming in Python for several weeks now. Like with any other language (both human and programming), it is important to have a strong foundation in basic concepts before moving onto more complex things. Below you will see a list of operations that you should be familiar with at this point in your learning. Treat this file as a checkpoint of sorts: you should be able to complete all assignments here WITH relying on your class notes and other resources that are posted on moodle.

### 1. print and input functions, variables, fstrings, basic arithmetic functions and data types

use the print() function to print the following sentence: 

I like potatoes a lot.

put the word _potatoes_ into a variable called _vegetable_, and use the print() function to print the following sentence: 

I like potatoes a lot. 

The word _potato_ should be printed by inserting the _vegetable_ variable into an fstring.

create two variables, _a_ and _b_. Variable _a_ equals 5, and variable _b_ equals 2.

now create the following variables:

    c is a sum of a and b
    d is a difference between a and b
    e is a result of multiplication of a and b
    f is a result of dividing a by b

print all results using the following format: (operation) of (a) and (b) equals (c/d/e/f), for example: sum of 5 and 2 equals 7.

write a piece of code that replicates the code below (with _a_ and _b_), but now _a_ and _b_ are user's inputs.

use input() function to ask the user about their name, and then print a greeting (for example, hello (name)).

use type() function to learn which data types are contained by the following variables:

In [ ]:
var1 = "hello, world"
var2 = 1.2
var3 = 1_000_000_000
var4 = True
var5 = (1,2,3)
var6 = [1,2,3]
var7 = {1: "one", 2: "two"}

find and explain the mistake in code below:

In [ ]:
print = "Hi there!"

### 2. strings

create a variable called _myString_ that contains the following string:

I'm a student at AAU.

Below you see a variable _myString_. Create three new variables: one that contains myString in all capital letters (using .upper()), one that contains myString in all lower case letters (using .lower()), and one that capitalizes every first letter of each word (using .title())

In [ ]:
myString = "I study at AAU, and it is AwEsOmE!!!"

Below you see a variable _myString_. Create three new variables: one that contains the same string but without the whitespace on the right side, one that contains the same string but without the whitespace on the left side, and one that contains no whitespaces on either side. Use .rstrip(), .lstrip(), and .strip(), respectively.

In [1]:
myString = " cookies "

food = " cookies "
print(food.rstrip())
print(food.lstrip())
print(food.strip())

variablenameR = food.rstrip()
varnameL = food.lstrip()
varS = food.strip()

 cookies
cookies
cookies

What is the length of the following string: "I like programming a lot but this is getting annoying" ?

string slicing: create a variable containing the string "I like programming a lot but this is getting annoying"

then, using string slicing, print the following:

    programming
    but
    ing (from annoying)  
    ing (from programming)
    I

### 3. boolean values

assess whether the outcome of the following statements will be true or false:

    1 == 1 
    1 < 1
    1 >= 1
    "potato" > "potato"
    "potato" > "tomato"
    1 == 1 and "potato" == "potato"
    1 == 1 and "potato" > "potato"
    1 == 1 or "potato" > "potato"
    not 1 == 1

In [3]:
print(1 == 1)
1 < 1
1 >= 1
"potato" > "potato"
"potato" > "tomato"
1 == 1 and "potato" == "potato"
1 == 1 and "potato" > "potato"
1 == 1 or "potato" > "potato"
not 1 == 1

True

False

### 4. lists

create an empty list called _emptyList_

indexing lists: using the list below called _colors_ and using indexing, print the following:

    red
    red, green, blue
    Green

In [ ]:
colors = ["red","green","blue"]

using the _colors_ list above, print a message that red is your favorite color:

using the _colors_ list above and relying on methods, do the following:

    add "yellow" to the end of the list
    insert "pink" between "red" and "green"
    remove "green" from the list
    sort the list alphabetically

### 5. sets

create an empty set called _emptySet_

make a list of 10 different numbers (whatever numbers you want), and then convert that list into a set.

perform relevant set operations on the sets below to get the desired outcome:

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}

# outcome: {1, 2, 3, 4, 5}

# outcome: {3}

# outcome: {1, 2}

check if 3 is present in set A:

In [ ]:
A = {1, 2, 3}

### 6. for loops

make a list of your favorite movies and/or tv shows, and use a for loop to print the following statement for each title: 

    I would much rather be watching (title) than doing homework!

and then at the end of the output, print the following statement once:

    Honestly I would much rather be doing anything other than homework...

below you see a list of numbers called _originalList_. Use a for loop to create another list where each number is a square of the numbers from _originalList_. The new list should look like this: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

(squares means number**2)

In [ ]:
originalList = [1,2,3,4,5,6,7,8,9,10]

use a for loop to calculate the sum of first 10 numbers from the list _numbers_ below.

In [ ]:
numbers = [5, 12, 38, 4, 66, 9, 18, 45, 102, 36, 7, 65, 36, 21, 83]

### 7. conditional tests

use if statements to code the following decision sequence: 

if a number is smaller or equal 21, print "this number is smaller or equal than 21"
or if a number is larger than 21 and smaller than 50, print "this number is larger than 21 but smaller than 50"
or if the number is equal or larger than 50, print "this number is larger or equal 50"

combining conditional tests with input(): ask the user if it is raining (answer choices: yes, no, maybe), and then depending on the answer, print a recommendation:

    if it is raining then stay home, do not go to class
    if it is not raining then go to class
    if it is maybe raining then look out the window
    otherwise print "sorry, you didn't answer my question"

use a combination of for loops and if statements for the following problem: below, you see a list of words called _animals_. Use a for loop to go through the list, and print only the words that start with the letter a.

In [5]:
animals = ['cat','cow','dog','donkey','duck','goat','horse','pig',
           'sheep','turkey','elephant','zebra','giraffe','chicken']

for everyAnimal in animals:
    if everyAnimal[0] == "a":
        print(everyAnimal)

cat
cow
chicken

use a combination of for loops and if statements for the following problem: use the list _animals_. Create two more lists: _animalsC_, which will contain all animals that start with letter C, and _animalsD_, which will contain all animals that start with letter D.

use a combination of for loops and if statements for the following problem: use the list _animals_. Print a statement which tells us how many animals start with letter G.

### 8. dictionaries

create an empty dictionary:

for the dictionary _friends_, print the following:

    list of keys
    list of values

In [ ]:
friends = {'Bing': 'Chandler', 'Green': 'Rachel', 'Geller': 'Monica'}

add a new key:value pair to the _friends_ dictionary: Buffay:Phoebe

remove Geller:Monica from _friends_

loop through the _friends_ dictionary, and for every pair print:

    (firstname's) last name is (lastname).

use .get() to check if Tribbiani, Joey is in _friends_

use .keys() to see if Tribbiani is in _friends_

### 9. nesting

for every sweet in the _sweets_ dictionary, print the following statement:

    This is a (size) portion of (candy name) made by (brand). Have some, it's (flavor)!
    
so, one output line would be:

    This is a medium portion of gummy bears made by Haribo. Have some, it's fruity!

In [19]:
sweets = {
    'gummy bears': {
        'brand': 'haribo',
        'size': 'medium',
        'flavor': 'fruity'},
    'chocolate': {
        'brand': 'marabou',
        'size': 'small',
        'flavor': 'hazelnut'},
    'toffifee': {
        'brand': 'storck',
        'size': 'small',
        'flavor': 'toffee'}    
          }

for eachCandy, candyInfo in sweets.items():
    print(f"This is a {candyInfo['size']} portion of {eachCandy} \
    made by {candyInfo['brand']}. Try it, it's \
    {candyInfo['flavor']}.")

This is a medium portion of gummy bears made by haribo. Try it, it's fruity.
This is a small portion of chocolate made by marabou. Try it, it's hazelnut.
This is a small portion of toffifee made by storck. Try it, it's toffee.

### 10. while loops

count from 1 to 5 using a while loop:

use a while loop to remove all values 'potato' from the list _removePotato_ below:

In [ ]:
removePotato = ['potato','tomato','cucumber','potato','broccoli','potato','peas']

use a while loop and a flag in a short script where:

    you ask the user if they would like a cookie
    the user responds yes
    print "here's a cookie then! another one?"
    the user responds yes
    print "here's a cookie then! another one?"
    and keeps going infinitely until the user says "no"
    then print "don't forget to eat your dinner!"